.header {
  padding-top: 24px;

  @media (max-width: 575px) {
    padding-top: 20px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 870px) {
    flex-direction: column;
  }
}

.header__logo {
  @media (max-width: 870px) {
    margin-bottom: 10px;
  }
}

.header__text {
  font-size: 20px;
  margin-bottom: 0;
  color: $grey;
  text-align: center;

  @media (max-width: 870px) {
    margin-bottom: 10px;
  }
}

.header__contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__phone {
  @include main-bold;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-bottom: 3px;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: black;
  }
}

.header__callback {
  @include reset-btn;
  font-size: 16px;
  text-align: center;
  color: $grey;
}
