@import './lib/reboot.scss';
@import './lib/fonts.scss';
@import './base/variables.scss';
@import './base/mixins.scss';
@import './components/button.scss';
@import './base/global.scss';

.thanks {
  min-height: 1080px;
  height: 100vh;
  padding-top: 24px;
  padding-bottom: 24px;
  @include bg;
  background-image: url('/src/img/bgs/thanks-bg.jpg');

  @media (max-width: 767px) {
    min-height: auto;
  }

  @media (max-width: 575px) {
    padding-top: 0;
  }
}

.thanks__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 263px;

  @media (max-width: 767px) {
    margin-bottom: 120px;
  }

  @media (max-width: 575px) {
    margin-bottom: 20px;
  }
}

.thanks__title {
  @include title;
  text-align: center;
  color: white;
  margin-bottom: 16px;

  @media (max-width: 575px) {
    font-size: 34px;
    line-height: 40px;
  }

  span {
    color: $yellow;
  }
}

.thanks__subtitle {
  @include subtitle-bold;
  text-align: center;
  margin-bottom: 48px;
  color: white;

  @media (max-width: 575px) {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 36px;
  }
}

.thanks__btn-box {
  @include max-width(328px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.thanks__link {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
